Codility.iml
out/production/Codility/pl/kanthak/BinaryGap.class
.idea/.gitignore
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
.idea/uiDesigner.xml
.idea/vcs.xml
out/production/Codility/pl/kanthak/CyclicRotation.class
out/production/Codility/pl/kanthak/OddOccurrencesInArray.class
out/production/Codility/pl/kanthak/FrogJmp.class
out/production/Codility/pl/kanthak/PermMissingElem.class
out/production/Codility/pl/kanthak/TapeEquilibrium.class
